/*
 * 画面全体に関する設定
 */

@font-face {
    font-family: PixelMplus10-Regular;
    src: url("../fonts/PixelMplus10-Regular.ttf");
}

body {
    font: 14px "Lucida Grande", Meiryo, Helvetica, Arial, sans-serif;
    font-family: "PixelMplus10-Regular";
    background-color: #cecdacc2;
}

a {
    color: #00B7FF;
}

div {
    margin: 20px 0px;
}

.row {
    margin: 20px;
}

.introduction {
    margin-left: 22px;
}

/*
 * ボタンの共通設定
 */
.common-button {
    border-color: rgb(106, 114, 83);
    background-color: #cecdacaa;
}

/*
 * トップ画面（index.hbs）に関する設定
 */

.index-user_name_text {
    width: 300px;
    height: 35px;
    background-color: #fffee2c6;
    margin-left: 5px;
}
.index-enter_button {
    margin-left: 20px;
}

.room-message_textarea {
    width: 500px;
    height: 50px;
}

.room-exit_button {
    margin-left: 130px;
}

.ans-btn {
    margin-bottom: 35px;
    margin-left: 10px;
    height: 50px;
    width: 80px;
}

.hint-btn-area {

}
.hint-btn {
    background-color: rgba(187, 238, 84, 0.611);
    margin-left: 25px;

}

.hint-common-text {
    margin-left: 25px;
}

/*
 * ポケモン画像のCSS
 */
 .poke-img {
     width: 100px;
     height: 100px;
 }

 .poke-display-img {
    width: 200px;
    height: 200px;
    margin-left: 150px;
 }
