<div class="container">
    <link rel="icon" type="image/x-icon" href="https://raw.githubusercontent.com/fanzeyi/pokemon.json/master/sprites/025MS.png">
    <div class="row">
        <h1>ポケモン クイズ</h1>
    </div>
    <div class="introduction">
        <p>はじめまして！　ポケット　モンスターの　せかいへ</p><br>
        <p>では　はじめに　きみのなまえを　おしえて　もらおう</p><br>
    </div>
    <div class="row">
        <form method="post" action="/room" class="index-user_name">
            <input type="text" id="userName" name="userName" class="index-user_name_text">
            <input type="button" value="入室" class="common-button index-enter_button btn" onclick="enter();">
        </form>
    </div>
</div>

<script src="/javascripts/socket.js"></script>
<script src="/javascripts/index.js"></script>
