<div class="container">
    <div class="row">
        <h1>Pokemon Quiz</h1>
    </div>
    <div class="row">
        <form method="post" action="/">
            <div class="room-login_user">
                挑戦者：{{userName}}さん
                <input id="userName" type="hidden" value="{{userName}}">
            </div>
            <div class="quizStart">
                <input type="button" value="Please Hint!" id='hintbtn' class="btn btn-info common-button" onclick="hint();">
            </div>
            <div id="Question">
                <div id="QuestionSentence">問題 : このポケモンの名前は？ </div>
                <div class="question"></div>
            </div>
            <div class="room-message">
                <textarea id="message" rows="2" class="room-message_textarea" placeholder="答えを入力しよう"></textarea>
            </div>
            <div class="room-submit">
                <input type="hidden" value="投稿" class="common-button room-publish_button" onclick="_publish();">
                <input type="hidden" value="メモ" class="common-button room-memo_button" onclick="memo();">
            </div>
            <div class="Answer">
                <input id="Answer" type="button" value="解答" class="btn btn-info common-button room-exit_button" onclick="answerComp();">
            </div>
            <div class="room-exit">
                <input type="button" value="退室する" class="btn btn-warnin common-button room-exit_button" onclick="exit();">
            </div>
            <div id="thread">
                <div class="question">
                </div>
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/socket.js"></script>
<script src="/javascripts/answerComp.js"></script>
<script src="/javascripts/startApi.js"></script>
<script src="/javascripts/question.js"></script>
<script src="/javascripts/hint.js"></script>
<script src="/javascripts/enter.js"></script>
<script src="/javascripts/publish.js"></script>
<script src="/javascripts/memo.js"></script>
<script src="/javascripts/exit.js"></script>
